# Docker image published by the GitHub Actions workflow.
DOCKER_IMAGE=mrnhien/altium-migrator:latest

# PostgreSQL running on the Windows host.
POSTGRES_DB=Altium-Components
POSTGRES_USER=postgres
POSTGRES_PASSWORD=CHANGE_ME

# Liquibase target schema.
LIQUIBASE_SCHEMA_NAME=altium

# Repository/branch that contains migrations/.
MIGRATION_GIT_REPOSITORY_URL=https://github.com/NguyenHien-8/Altium_Library.git
MIGRATION_GIT_BRANCH=master
